@layer layout {
  .stage {
    --stage-max: 650px;
  }
}

@layer components {
  .card {
    padding: var(--space-13);
    background: var(--color-surface);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-l);
    box-shadow: 0 var(--space-10) var(--space-13) var(--shadow-color);

    span {
      display: block;
      color: var(--color-muted);
      margin-block-start: var(--space-5);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: border-radius .2s, box-shadow .2s;
    }

    @container (width < 400px) {
      border-radius: 0;
      box-shadow: none;
    }
  }
}
