@layer tokens {
  :root {
    --color-channel-r: #ef4444;
    --color-channel-g: #22c55e;
    --color-channel-b: #3b82f6;
  }

  @property --_r {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  @property --_g {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  @property --_b {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}

@layer overrides {
  :root {
    timeline-scope: --_r, --_g, --_b;
    animation:
      --_r linear both,
      --_g linear both,
      --_b linear both;
    animation-timeline: --_r, --_g, --_b;
    animation-range: entry 100% exit 0%;
  }

  @keyframes --_r { 0% { --_r: 1; } }
  @keyframes --_g { 0% { --_g: 1; } }
  @keyframes --_b { 0% { --_b: 1; } }

  .range-slider--r {
    &::-webkit-slider-thumb {
      view-timeline: --_r inline;
      background: var(--color-channel-r);
      box-shadow: 0 0 0 1px var(--color-channel-r);
    }

    &::-moz-range-thumb {
      view-timeline: --_r inline;
      background: var(--color-channel-r);
      box-shadow: 0 0 0 1px var(--color-channel-r);
    }
  }

  .range-slider--g {
    &::-webkit-slider-thumb {
      view-timeline: --_g inline;
      background: var(--color-channel-g);
      box-shadow: 0 0 0 1px var(--color-channel-g);
    }

    &::-moz-range-thumb {
      view-timeline: --_g inline;
      background: var(--color-channel-g);
      box-shadow: 0 0 0 1px var(--color-channel-g);
    }
  }

  .range-slider--b {
    &::-webkit-slider-thumb {
      view-timeline: --_b inline;
      background: var(--color-channel-b);
      box-shadow: 0 0 0 1px var(--color-channel-b);
    }

    &::-moz-range-thumb {
      view-timeline: --_b inline;
      background: var(--color-channel-b);
      box-shadow: 0 0 0 1px var(--color-channel-b);
    }
  }
}

@layer components {
  .swatch {
    inline-size: 100%;
    block-size: var(--size-swatch);
    border-radius: var(--radius-m);
    border: 1px solid var(--color-border);
    background: rgb(
      calc(var(--_r) * 255)
      calc(var(--_g) * 255)
      calc(var(--_b) * 255)
    );
  }
}
