@layer layout {
  .stage {
    --stage-max: 850px;
    --stage-min: 260px;
  }
}

@layer components {
  .shell {
    --aside-width: 12rem;

    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    min-block-size: 220px;
    background: var(--color-surface);
    color: var(--color-text);
    border: 1px solid var(--color-border);

    aside {
      padding: var(--space-10);
      border-inline-end: 1px solid var(--color-border);
    }

    main {
      padding: var(--space-12);
    }

    nav {
      display: none;
    }

    @container (width < 550px) {
      grid-template-columns: 1fr;

      aside {
        display: none;
      }

      nav {
        display: block;
        padding: var(--space-10);
        border-block-start: 1px solid var(--color-border);
      }
    }
  }
}
