@layer layout {
  .stage {
    --stage-max: 650px;
  }
}

@layer components {
  .state {
    padding: var(--space-12);
    background: var(--color-surface);
    border: 1px solid var(--color-border);

    span {
      display: none;
      margin-inline-start: var(--space-5);
      padding-block: var(--space-2);
      padding-inline: var(--space-5);
      border-radius: var(--radius-full);
      background: var(--color-surface-2);
      color: var(--color-text);
      font-size: .75rem;
      border: 1px solid transparent;

      @container (width < 300px) {
        &.compact { display: inline-block; }
      }

      @container (300px <= width < 500px) {
        &.comfortable { display: inline-block; }
      }

      @container (width >= 500px) {
        &.spacious { display: inline-block; }
      }
    }
  }
}
